.about-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.about-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.about-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.about-placeholder-image {
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: var(--dl-layout-radius-buttonradius);
}
 
.about-fragment {
  display: contents;
}
 
.about-text2 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .about-max-width {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column-reverse;
  }
}
