.footer-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: column;
  justify-content: center;
}
 
.footer-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer-container {
  display: flex;
  align-items: flex-start;
}
 
.footer-text {
  font-family: "Inter";
}
 
.footer-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.footer-social-links {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
 

 
.footerroot-class-name1 {
  padding-top: 0px;
}
 

 
@media(max-width: 991px) {
  .footer-social-links {
    align-self: center;
  }
}
 
@media(max-width: 767px) {
  .footer-row {
    gap: var(--dl-layout-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer-social-links {
    align-self: center;
  }
}
 
@media(max-width: 479px) {
  .footer-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .footer-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer-social-links {
    align-items: center;
    justify-content: center;
  }
}
