.main-header78 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.main-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.main-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  z-index: 0;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
 
.main-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.main-text1 {
  text-align: center;
}
 
.main-text2 {
  text-align: center;
}
 
.main-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
}
 
.main-row-container1 {
  width: 100%;
}
 
.main-placeholder-image10 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image11 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image12 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image13 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image14 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image15 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image16 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image17 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image18 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image19 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image20 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image21 {
  width: 400px;
  height: 400px;
}
 
.main-row-container2 {
  width: 100%;
}
 
.main-placeholder-image22 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image23 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image24 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image25 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image26 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image27 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image28 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image29 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image30 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image31 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image32 {
  width: 400px;
  height: 400px;
}
 
.main-placeholder-image33 {
  width: 400px;
  height: 400px;
}
 
.main-container2 {
  display: contents;
}
 
.main-fragment1 {
  display: contents;
}
 
.main-text3 {
  display: inline-block;
}
 
.main-fragment2 {
  display: contents;
}
 
.main-text4 {
  display: inline-block;
  font-family: "Inter";
}
 
.mainroot-class-name {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  padding-top: 120px;
}
 
@media(max-width: 767px) {
  .main-content1 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .main-actions {
    width: 100%;
    flex-direction: column;
  }
}
